# Dataset Configuration
DS_PATH="pikaybh/kocem_v2"

# Path Configuration
DS_CACHE_PATH=".cache"
LOG_PATH="logs"
OUTPUT_PATH="output"
PROMPT_PATH="prompts"

# Random Seed Configuration
RANDOM_SEED=42

# Commercial API Keys
OPENAI_API_KEY="sk-"
GOOGLE_API_KEY="AI"
ANTHROPIC_API_KEY="sk-"

# Langsmith Configuration
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_"
LANGSMITH_PROJECT="KoCEM:Evaluation"